DHPARAM_BITS={{ nginx_dhparam_bits }}
DHPARAM_SKIP={{ nginx_dhparam_skip }}
HTTPS_METHOD={{ nginx_https_method }}
ENABLE_IPV6={{ nginx_enable_ipv6 }}
HTTP_PORT={{ nginx_http_port }}
HTTPS_PORT={{ nginx_https_port }}
DEFAULT_HOST={{ nginx_default_host }}
{% for key, value in nginx_env_extra.items() %}
{{ key }}={{ value }}
{% endfor %}
